/AP2/build/
/AP2/nbproject/private/
/Projecto3/build/
/UF3_Ejercicios/nbproject/private/
/UF3_Ejercicios/build/
/ProjecteFiles/nbproject/private/
/ProjecteFiles/build/
/UF3_Examen/nbproject/private/
/UF4_Ejercicios/nbproject/private/
/UF4_Ejercicios/build/
/UF5_Ejercicios/nbproject/private/
/UF5_Ejercicios/build/
/UF4_PROJECT/nbproject/private/
/UF4_PROJECT/build/
/StaffManagement2/build/
/StaffManagement2/nbproject/private/
/UF4_PROJECT/dist/
/XML_Parser/build/
/XML_Parser/nbproject/private/
/UF5_Ejercicios/dist/
/PROJECTE_FINAL/nbproject/private/
/PROJECTE_FINAL/build/
/PROJECTE_FINAL/dist/
